---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="mt-5 max-w-2xl text-center mx-auto pb-24 pt-24">
			<h1 class="block font-bold text-gray-800 text-4xl md:text-5xl lg:text-6xl dark:text-neutral-200 mb-4">
				Hi! I'm
				<span class="bg-clip-text bg-gradient-to-tl from-blue-600 to-violet-600 text-transparent">Darryl</span>
			</h1>
			<p class="text-2xl">Christian &bull; Husband &bull; Father &bull; Web Developer &bull; Rubyist</p>
		</div>
	</main>
</Layout>
